/*
*
* @author Igor Pereira
* @version 0.1
*/

/* ============================== layout =================================== */

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(206,5,5);
}

.alinhamento{
    padding-top: 5px;
}

#logo{
    margin-top: -10px;
}

.container div p{
    text-align: left;
}

.container2 h3{
    margin-top: 200px;
    width: auto;
    height: 150px;
  
}

.container3 img{
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.container3{
    height: 400px;
}

#info{
    text-align: right;
}

#rodape{
    background-color: rgb(206,5,5);
    width: auto;
    height: 5em;
}


/*================================== TIPOGRAFIA =================================================*/

.cortexto{
   color: white;
}

#fonte{
    text-align: center;
    font-size: 80px;
}



/*================================= MEDIA QUERIES ================================================*/

@media screen and (max-width: 480px){
    #fonte{
        font-size: 20px;
    }

    .container3 img{
        max-width: 180px;
        max-height: 180px;
        width: auto;
        height: auto;
    }  

}

@media screen and (max-width: 767px){
    #fonte{
        font-size: 30px;
    }
     .container3 img{
        max-width: 150px;
        max-height: 150px;
        width: auto;
        height: auto;
    }  
}

@media (min-width: 768px) and (max-width: 979px){
    #fonte{
        font-size: 45px;    
    }
}

@media screen and (min-width: 1200){
    #fonte{
        font-size: 100px;
    }    
}

