/*
*
* @author Igor Pereira
* @version 0.1
*/

/* ============================== layout =================================== */

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(206,5,5);
}

.alinhamento{
    padding: 5px;
}
/*================================== TIPOGRAFIA =================================================*/

.cortexto{
   color: white;
}

#fonte{
    font-size: 50px;
}



/*================================= MEDIA QUERIES ================================================*/

@media screen and (max-width: 480px){
    #fonte{
        font-size: 20px;
    }  

}

@media screen and (max-width: 767px){
    #fonte{
        font-size: 30px;
    }
}

@media (min-width: 768px) and (max-width: 979px){
    #fonte{
        font-size: 45px;    
    }
}

@media screen and (min-width: 1200){
    #fonte{
        font-size: 100px;
    }    
}
